*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 95px;
    color: #fff;
    margin-bottom: 50px;
}

.content a{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3%;
}

.content a:hover{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.4);
}

.background-clip{
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: -1;
}
@media(min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
 }

 @media(max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
 }

 nav{
    word-spacing: 90px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 45px;
    height: 100%;
    max-width: 1210px;
    background-color: rgba(0, 0, 0, 0.4);
    width: auto;
 }

 a{
    text-decoration: none;
    color: #fafafa;
    font-size: 1rem;
    border-radius: 3px;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    justify-content: center;
    justify-items: center;
}
a:hover{
    font-size: 1.2rem;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

